<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #DirectoryIndex /~user10/PHP/book_shop/index.php
    DirectoryIndex /booker/index.php

    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>