.calendar td:hover, .otherMonth
{
    background-color: rgb(240, 240, 240);
}
.lang-button {
    height: 20px;
}
a:hover
{
    cursor: pointer;
}
.event-cell
{
    height: 100px;
    overflow-y: auto;
}