<div header></div>
<div ng-controller="bookController as bkCtrl">
    <form class="form-horizontal" name="bookForm">
        <div class="form-group" ng-hide="(bkCtrl.users == undefined)">
            <div class="col-sm-4">
                <h4 for="selectEmployee" ng-bind="bkCtrl.lang.template.book.for"></h4>
                <select class="form-control" id="selectEmployee" name="employee" aria-describedby="employeeStatus" ng-model="employee">
                    <option ng-repeat="user in bkCtrl.users" value="{{user.idEmployee}}" ng-bind="user.Name"></option>
                </select>
            </div>
        </div>
        <h4 ng-show="(bkCtrl.users == undefined)" ng-bind="bkCtrl.lang.template.book.for+bkCtrl.user.name"></h4>

        <h4 for="inputDate" ng-bind="bkCtrl.lang.template.book.dateLab"></h4>

        <div class="form-group has-feedback">
            <div class="col-sm-4">
                <p class="input-group">
                <input type="text" class="form-control" id="inputDate" name="date" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
        </div>

        <h4 ng-bind="bkCtrl.lang.template.book.timeLab"></h4>

        <div class="form-group">
            <div class="col-sm-4">
                <label ng-bind="bkCtrl.lang.template.book.startLab"></label>
                <timepicker ng-model="start" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
            <div class="col-sm-4">
                <label ng-bind="bkCtrl.lang.template.book.endLab"></label>
                <timepicker ng-model="end" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
        
        <h4 ng-bind="bkCtrl.lang.template.book.descrLab"></h4>

        <textarea class="form-control" ng-model="description"></textarea>

        <h4 ng-bind="bkCtrl.lang.template.book.recurrLab"></h4>

        <div class="radio-inline">
            <label>
                <input type="radio" name="isRecurring" ng-model="isRecurring" value="1">
                {{bkCtrl.lang.template.book.y}}
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="isRecurring" ng-model="isRecurring" value="0">
                {{bkCtrl.lang.template.book.n}}
            </label>
        </div>

        <h4 ng-bind="bkCtrl.lang.template.book.recurrTypeLab"></h4>

        <div class="radio" ng-class="{'disabled' : isRecurring === '0'}">
            <label>
                <input type="radio" name="recurring" ng-disabled="isRecurring === '0'" ng-model="recurring" value="weekly">
                {{bkCtrl.lang.template.book.wklLab}}
            </label>
        </div>
        <div class="radio" ng-class="{'disabled' : isRecurring === '0'}">
            <label>
                <input type="radio" name="recurring" ng-disabled="isRecurring === '0'" ng-model="recurring" value="bi-weekly">
                {{bkCtrl.lang.template.book.bwklLab}}
            </label>
        </div>
        <div class="radio" ng-class="{'disabled' : isRecurring === '0'}">
            <label>
                <input type="radio" name="recurring" ng-disabled="isRecurring === '0'" ng-model="recurring" value="monthly">
                {{bkCtrl.lang.template.book.mntLab}}
            </label>
        </div>

        <div class="form-group">
            {{bkCtrl.lang.template.book.notat}}
            <div class="col-sm-4">
                <input class="form-control" type="number" min="1" max="4" ng-disabled="isRecurring === '0'" ng-model="duration">
            </div>
            <div class="col-sm-4" ng-bind="bkCtrl.lang.template.book.durLab"></div>

        </div>

        <button class="btn btn-primary" data-toggle="modal" data-target="#book" type="button" ng-class="{'disabled' : duration == undefined || date == undefined || start == null || end == null}" ng-click="bkCtrl.addEvent()" ng-bind="bkCtrl.lang.template.book.btnAdd"></button>
    </form>

    <!-- Modal -->

    <div class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">
                        {{bkCtrl.messHead}}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{{bkCtrl.messText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
