<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ></li>
        <li><a href="#/2015/0">1</a></li>
        <li><a href="#/2015/1">2</a></li>
        <li><a href="#/2015/2">3</a></li>
        <li><a href="#/2015/3">4</a></li>
        <li><a href="#/2015/4">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<p ng-bind="calendar.calendar.baseDate.getMonth() + 1"></p>
<table class="table table-bordered calendar">
    <tr class="info">
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr ng-repeat="week in calendar.calendar.month">
        <td ng-repeat="day in week track by $index" ng-class="{'otherMonth': day === null}">
            {{day}}
        </td>
    </tr>
</table>