<nav>
    <ul class="pager">
        <li class="previous">
            <a ng-href="#{{clnCtrl.paginator.prev().getFullYear()+'/'+(clnCtrl.paginator.prev().getMonth()+1)}}">
                <span aria-hidden="true">&larr;</span>
                Older
            </a>
        </li>
        <li>
            <strong ng-bind="clnCtrl.paginator.monthToString()+' '+clnCtrl.paginator.getBaseDate().getFullYear()"></strong>
        </li>
        <li class="next">
            <a ng-href="#{{clnCtrl.paginator.next().getFullYear()+'/'+(clnCtrl.paginator.next().getMonth()+1)}}">
                Newer
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
<label>First day in week</label>
<label class="radio-inline">
    <input type="radio" ng-model="firstDay" value="Mon"> Mon
</label>
<label class="radio-inline">
    <input type="radio" ng-model="firstDay" value="Sun"> Sun
</label>
<table class="table table-bordered calendar">
    <tr class="info">
        <th ng-repeat="day in clnCtrl.calendar.header"></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr ng-repeat="week in clnCtrl.calendar.month">
        <td ng-repeat="day in week track by $index" ng-class="{'otherMonth': day === null}">
            {{day}}
        </td>
    </tr>
</table>