<div class="container" ng-controller="calendarController as clnCtrl">
    <div header></div>
    <nav>
        <ul class="pager">
            <li class="previous">
                <a ng-href="#{{clnCtrl.paginator.prev().getFullYear()+'/'+(clnCtrl.paginator.prev().getMonth()+1)}}">
                    <span aria-hidden="true">&larr;</span>
                    {{clnCtrl.lang.template.main.btnPrev}}
                </a>
            </li>
            <li>
                <strong ng-bind="clnCtrl.lang.template.mons[clnCtrl.paginator.getBaseDate().getMonth()]
                    +' '+clnCtrl.paginator.getBaseDate().getFullYear()"></strong>
            </li>
            <li class="next">
                <a ng-href="#{{clnCtrl.paginator.next().getFullYear()+'/'+(clnCtrl.paginator.next().getMonth()+1)}}">
                    {{clnCtrl.lang.template.main.btnNext}}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-xs-6 text-center">
            <label ng-bind="clnCtrl.lang.template.main.labFrstDay"></label>
            <label class="radio-inline">
                <input type="radio" name="firstDay" ng-model="firstDay" ng-change="clnCtrl.calendar.setFirstDay(firstDay)" value="mon">
                {{clnCtrl.lang.template.days.mon}}
            </label>
            <label class="radio-inline">
                <input type="radio" name="firstDay" ng-model="firstDay" ng-change="clnCtrl.calendar.setFirstDay(firstDay)" value="sun">
                {{clnCtrl.lang.template.days.sun}}
            </label>
        </div>
        <div class="col-xs-6 text-center">
            <label ng-bind="clnCtrl.lang.template.main.labTimeFrm"></label>
            <label class="radio-inline">
                <input type="radio" name="timeFormat" ng-model="timeFormat" ng-change="clnCtrl.setTimeFormat(timeFormat)" value="HH:mm">
                24
            </label>
            <label class="radio-inline">
                <input type="radio" name="timeFormat" ng-model="timeFormat" ng-change="clnCtrl.setTimeFormat(timeFormat)" value="hh:mm a">
                AM/PM
            </label>
        </div>
    </div>
    <table class="table table-bordered calendar">
        <tr class="info">
            <th ng-repeat="day in clnCtrl.calendar.header" ng-bind="clnCtrl.lang.template.days[day]"></th>
        </tr>
        <tr ng-repeat="week in clnCtrl.calendar.month">
            <td ng-repeat="day in week track by $index" ng-class="{'otherMonth': day === null || day.day === 6 || day.day === 0}">
                {{day.date}}
                <p ng-repeat="event in day.events"><a ng-click="clnCtrl.showEvent(event.idAppointment)">{{event.Start | date: timeFormat}} - {{event.End | date: timeFormat}}</a></p>
            </td>
        </tr>
    </table>
</div>