<div class="container" ng-controller="eventController as eventCtrl">
    <h4>B.B.Details</h4>

    <div>
        <p>When:</p>

        <timepicker ng-model="start" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

        <p ng-bind="start.getTime()"></p>

        <timepicker ng-model="end" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

        <p ng-bind="end.getTime()"></p>

    </div>

    <div>
        <p>Notes:{{eventCtrl.event.Description}}</p>
    </div>
    <div ng-controller="userController">
        <p>Who:</p>

        <select class="form-control" ng-model="employee">
            <option ng-repeat="user in eventCtrl.users" value="{{user.idEmployee}}" ng-bind="user.Name"></option>
        </select>
    </div>
    <div>
        <p>Submitted: {{eventCtrl.event.Submitted}}</p>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            Apply to all occurrences?
        </label>
    </div>

    <button type="button" class="btn btn-warning">Update</button>
    <button type="button" class="btn btn-danger">Delete</button>
</div>